<div class="row-fluid">
	<form name="userForm" class="form  form-horizontal" ng-submit="updateUserDetails()" novalidate>
		<div class="form-group">
			<label class="col-sm-2 control-label fa fa-asterisk fa-2 required-field" for="username">Email:</label>
			<div class="col-sm-6">
				<input type="email" name="username" id="username" class="form-control" ng-model="user.email" readonly="readonly">
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error':userForm.firstName.$invalid && userForm.firstName.$dirty}">
			<label class="col-sm-2 control-label fa fa-asterisk fa-2 required-field" for="firstName">{{'LABEL_FIRST_NAME' | i18n }}:</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" name="firstName" id="firstName" ng-model="user.firstName" required >
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error':userForm.lastName.$invalid && userForm.lastName.$dirty}">
			<label class="col-sm-2 control-label fa fa-asterisk fa-2 required-field" for="lastName">{{'LABEL_LAST_NAME' | i18n }}</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="lastName" name="lastName" ng-model="user.lastName" required >
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error':userForm.phone.$invalid && userForm.phone.$dirty}" >
			<label class="col-sm-2 control-label" for="phone">{{'LABEL_MOBILE_NUMBER' | i18n }}</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" name="phone" id="phone" ng-model="user.phone" >
			</div>
		</div>
		<div class="form-group">
		  <div class="col-sm-offset-2 col-sm-6">
			<button type="submit" class="btn btn-primary" >{{'LABEL_UPDATE' | i18n }}</button>
			<a class="btn btn-default" href="/" role="button">{{'LABEL_CANCEL' | i18n }}</a>
		  </div>
		</div>  					
	</form>
</div>