<div class="panel panel-default">
    <div class="panel-heading">
        <h2>{{user.firstName + ' ' + user.lastName}}</h2>
        <h5>{{user.email}}</h5>
    </div>
    <div class="panel-body">
        <div ng-show="screenState.error" class="alert {{screenState.error.class}}" role="alert">
            <h4>{{screenState.error.message | i18n}}</h4>
        </div>
        <div ng-show="screenState.success" class="alert {{screenState.success.class}}" role="alert">
            <h4>{{screenState.success.message | i18n}}</h4>
        </div>        
		
		<div class="tabbable">
		  <ul class="nav nav-pills nav-stacked col-md-2">
		    <li><a href="#personal-details" data-toggle="tab">{{'LABEL_PERSONAL_DETAILS' | i18n }}</a></li>
		    <li><a href="#password" data-toggle="tab">{{'LABEL_CHANGE_PASSWORD' | i18n }}</a></li>
		    <li><a href="#typeAccount" data-toggle="tab">{{'LABEL_TYPE_ACCOUNT' | i18n }}</a></li>
		    <li><a href="#language" data-toggle="tab">{{'LABEL_LANGUAGE' | i18n }}</a></li>
		  </ul>
		  <div class="tab-content col-md-8">
		    <div id="personal-details" class="tab-pane">
		    	<form name="userForm" class="form  form-horizontal" ng-submit="updateUserDetails()" novalidate>
					<div class="form-group" ng-class="{'has-error':userForm.firstName.$invalid && userForm.firstName.$dirty}">
						<label class="col-sm-2 control-label fa fa-asterisk fa-2 required-field" for="firstName">{{'LABEL_FIRST_NAME' | i18n }}:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" name="firstName" id="firstName" ng-model="user.firstName" required >
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error':userForm.lastName.$invalid && userForm.lastName.$dirty}">
						<label class="col-sm-2 control-label fa fa-asterisk fa-2 required-field" for="lastName">{{'LABEL_LAST_NAME' | i18n }}:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="lastName" name="lastName" ng-model="user.lastName" required >
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error':userForm.phone.$invalid && userForm.phone.$dirty}" >
						<label class="col-sm-2 control-label" for="phone">{{'LABEL_MOBILE_NUMBER' | i18n }}:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" name="phone" id="phone" ng-model="user.phone" >
						</div>
					</div>
					<div class="form-group">
					  <div class="col-sm-offset-2 col-sm-6">
						<button type="submit" class="btn btn-primary" >{{'LABEL_UPDATE' | i18n }}</button>
						<a class="btn btn-default" href="/" role="button">{{'LABEL_CANCEL' | i18n }}</a>
					  </div>
					</div>  					
				</form>
		    </div>
		    <div id="password" class="tab-pane">
		    	<form name="changeForm" class="form  form-horizontal" ng-submit="updateUserDetails()" novalidate>
					<div class="form-group" ng-class="{'has-error':registerForm.password.$invalid && registerForm.password.$dirty  && screenState.canSave}">
						<label class="col-sm-2 control-label fa fa-asterisk fa-2 required-field" for="password">{{'LABEL_PASSWORD' | i18n }}:</label>
						<div class="col-sm-6">
							<input type="password" class="form-control" id="password" name="password" ng-model="formInputs.password" required >
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error':registerForm.confirmPassword.$invalid && registerForm.confirmPassword.$dirty  && screenState.canSave}">
						<label class="col-sm-2 control-label fa fa-asterisk fa-2 required-field" for="confirmPassword">{{'LABEL_CONFIRM_PASSWORD' | i18n }}:</label>
						<div class="col-sm-6">
							<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="confirmPassword" required >
						</div>
					</div>
					<div class="form-group">
					  <div class="col-sm-offset-2 col-sm-6">
						<button type="submit" class="btn btn-primary" >{{'LABEL_CHANGE_PASSWORD' | i18n }}</button>
						<a class="btn btn-default" href="/" role="button">{{'LABEL_CANCEL' | i18n }}</a>
					  </div>
					</div>  		
				</form>
		    </div>
		    <div id="typeAccount" class="tab-pane">
		    	<form name="changeForm" class="form  form-horizontal" ng-submit="updateUserDetails()" novalidate>
					<div class="form-group" ng-class="{'has-error':registerForm.password.$invalid && registerForm.password.$dirty  && screenState.canSave}">
						<label class="col-sm-2 control-label fa fa-asterisk fa-2 required-field" for="typeAccount">{{'LABEL_TYPE_ACCOUNT' | i18n }}:</label>
						<div class="col-sm-6">                    
							<select name="typeAccount" id="typeAccount" class="form-control"
	                            ng-options="i as (i | i18n) for i in accounts" ng-model="formInputs.typeAccount">
	                            <option value="">{{'LABEL_USER_SELECT_TYPE_AACOUNT' | i18n }}</option>
	                        </select>
						</div>
					</div>
					<div class="form-group">
					  <div class="col-sm-offset-2 col-sm-6">
						<button type="submit" class="btn btn-primary" >{{'LABEL_UPDATE' | i18n }}</button>
						<a class="btn btn-default" href="/" role="button">{{'LABEL_CANCEL' | i18n }}</a>
					  </div>
					</div>  		
				</form>
		    </div>
		    <div id="language" class="tab-pane">
		      
		    </div>
		  </div><!-- /.tab-content -->
		</div><!-- /.tabbable -->
	</div>		
</div>


