<div class="panel panel-default">
    <div class="panel-heading">
        <h2>{{'LABEL_GROUP_TITLE_ADD' | i18n }} {{controlName}}</h2>
    </div>
    <div class="panel-body">
        <div ng-show="screenState.error" class="alert {{screenState.error.class}}" role="alert">
            <h4>{{screenState.error.message | i18n }}</h4>
        </div>
        <div ng-show="screenState.success" class="alert {{screenState.success.class}}" role="alert">
            <h4>{{screenState.success.message | i18n }}</h4>
        </div>
        <div ng-show="screenState.alert" class="alert {{screenState.alert.class}}" role="alert">
            <h4>{{screenState.alert.message | i18n }}</h4>
        </div>
		<form name="groupForm" class="form  form-horizontal" ng-submit="submitForm()" novalidate>
			<div class="row-fluid">
				<div class="col-md-5 col-md-offset-1">
					<div class="form-group" ng-class="{'has-error':(controlForm.controlname.$invalid && controlForm.controlname.$dirty) && screenState.canSave}">
						<label class="col-sm-2 control-label fa fa-asterisk fa-2 required-field" for="controlname">{{'LABEL_NAME' | i18n }}:</label>
						<div class="col-sm-8">
							<input type="text" name="controlname" id="controlname" class="form-control" ng-model="formInputs.name" required >
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label fa fa-asterisk fa-2 required-field" for="controldesc">{{'LABEL_DESCRIPTION' | i18n }}:</label>
						<div class="col-sm-8">
							<textarea id="controldesc" name="controldesc" class="form-control" ng-model="formInputs.description" 
								rows="5" cols="85" maxlength="100" ></textarea>
						</div>
					</div>
				</div>
				<div class="col-md-5">
															
				</div>
				<div class="form-group">
				  <div class="col-sm-offset-2 col-sm-6">
					<button type="submit" class="btn btn-primary" ng-disabled="!screenState.canSave" >{{'LABEL_GROUP_ADD' | i18n }}</button>
					<a class="btn btn-default" href="{{screenState.cancelLink}}" role="button" >{{'LABEL_CANCEL' | i18n }}</a>
				  </div>
				</div>  					
			</div>
		</form>
	</div>		
</div>


