<div class="panel panel-default">
    <div class="panel-heading">
        <h2>{{'LABEL_CONTROL_NEW' | i18n }}</h2>
    </div>
    <div class="panel-body">
        <div ng-show="screenState.error" class="alert {{screenState.error.class}}" role="alert">
            <h4>{{screenState.error.message | i18n }}</h4>
        </div>
        <div ng-show="screenState.success" class="alert {{screenState.success.class}}" role="alert">
            <h4>{{screenState.success.message | i18n }}</h4>
        </div>
        <div ng-show="screenState.alert" class="alert {{screenState.alert.class}}" role="alert">
            <h4>{{screenState.alert.message | i18n }}</h4>
        </div>
		<form name="controlForm" class="form  form-horizontal" ng-submit="submitForm()" novalidate>
			<div class="row-fluid">
				<div class="col-md-5 col-md-offset-1">
					<div class="form-group" ng-class="{'has-error':(controlForm.controlname.$invalid && controlForm.controlname.$dirty) && screenState.canSave}">
						<label class="col-sm-2 control-label fa fa-asterisk fa-2 required-field" for="controlname">{{'LABEL_NAME' | i18n }}:</label>
						<div class="col-sm-8">
							<input type="text" name="controlname" id="controlname" class="form-control" ng-model="formInputs.name" required >
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label fa fa-asterisk fa-2 required-field" for="controldesc">{{'LABEL_DESCRIPTION' | i18n }}:</label>
						<div class="col-sm-8">
							<textarea id="controldesc" name="controldesc" class="form-control" ng-model="formInputs.description" 
								rows="5" cols="85" maxlength="100" ></textarea>
						</div>
					</div>
				</div>
				<div class="col-md-5">					
					<div class="form-group" ng-class="{'has-error':controlForm.controlstartday.$invalid && controlForm.controlstartday.$dirty}">
						<label class="col-sm-4 control-label fa fa-asterisk fa-2 required-field" for="controlstartday">{{'LABEL_CONTROL_START_DAY' | i18n }}:</label>
						<div class="col-sm-6">
		                    <select name="controlstartday" id="controlstartday" class="form-control"
	                                ng-options="i for i in startDays" ng-model="formInputs.startDay" required>
								<option value="">{{'LABEL_SELECT' | i18n }}</option>	                                
	                        </select>						
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error':controlForm.controlcurrency.$invalid && controlForm.controlcurrency.$dirty}" >
						<label class="col-sm-4 control-label fa fa-asterisk fa-2 required-field" for="controlcurrency">{{'LABEL_CURRENCY' | i18n }}:</label>
						<div class="col-sm-6">
	                        <select name="controlcurrency" id="controlcurrency" class="form-control"
	                                ng-options="i as (i.code + ' - ' +i.name) for i in currencies" ng-model="formInputs.currency" required >
	                            <option value="">{{'LABEL_SELECT' | i18n }}</option>
	                        </select>
						</div>
					</div>				
					<div class="form-group">
						<label class="col-sm-4 control-label"  for="controltypesplit">
							<input type="checkbox" id="shared" ng-model="formInputs.shared"> {{'LABEL_SHARED' | i18n }}&nbsp
						</label>
						<div class="col-sm-6">
	                        <select name="controltypesplit" id="controltypesplit" class="form-control"
	                                ng-options="i as (i | i18n) for i in splities" ng-model="formInputs.typeSplit" ng-disabled="!formInputs.shared" ng-required="formInputs.shared" >
	                            <option value="">{{'LABEL_CONTROL_SELECT_TYPE_SPLIT' | i18n }}</option>
	                        </select>
						</div>
					</div>				
					<div class="form-group">
						<label class="col-sm-4 control-label"  for="controlsaving">
							<input type="checkbox" id="savings" ng-model="formInputs.hasSaving"> {{'LABEL_SAVINGS' | i18n }}
						</label>
						<div class="col-sm-6" ng-class="{'has-error':controlForm.controlsaving.$invalid && controlForm.controlsaving.$dirty}">
							<input type="number" class="form-control" id="controlsaving" name="controlsaving" ng-model="formInputs.balanceDefault" 
								ng-disabled="!formInputs.hasSaving" placeholder="{{'PLACEHOLDER_CONTROL_DEFAULT_BALANCE' | i18n }}" ng-required="formInputs.hasSaving" >
						</div>
					</div>				
					<div class="form-group">
						<label class="col-sm-4 control-label" for="controlautoclosing">
							<input type="checkbox" id="closing" ng-model="formInputs.hasClosing"> {{'LABEL_CLOSING' | i18n }}
						</label>
						<div class="col-sm-6" ng-class="{'has-error':controlForm.controlautoclosing.$invalid && controlForm.controlautoclosing.$dirty}">
							<select name="controlautoclosing" id="controlautoclosing" class="form-control" 
	                                ng-options="i as (i | i18n) for i in automatics" ng-model="formInputs.automaticClosing" ng-disabled="!formInputs.hasClosing" ng-required="formInputs.hasClosing">
	                            <option value="">{{'LABEL_CONTROL_SELECT_AUTO_CLOSING' | i18n }}</option>
	                        </select>
						</div>
					</div>				
				</div>
				<div class="form-group">
				  <div class="col-sm-offset-2 col-sm-6">
					<button type="submit" class="btn btn-primary" ng-disabled="!screenState.canSave" >{{screenState.labelAction | i18n }}</button>
					<a class="btn btn-default" href="{{screenState.cancelLink}}" role="button" >{{'LABEL_CANCEL' | i18n }}</a>
				  </div>
				</div>  					
			</div>
		</form>
	</div>		
</div>


