<div class="panel panel-default">
    <div class="panel-heading">
        <h2>{{controlDetails.control.name}}</h2>
    </div>
    <div class="panel-body">
        <div ng-show="screenState.error" class="alert {{screenState.error.class}}" role="alert">
            <h4>{{screenState.error.message | i18n }}</h4>
        </div>
        <div ng-show="screenState.success" class="alert {{screenState.success.class}}" role="alert">
            <h4>{{screenState.success.message | i18n }}</h4>
        </div>
        <div ng-show="screenState.alert" class="alert {{screenState.alert.class}}" role="alert">
            <h4>{{screenState.alert.message | i18n }}</h4>
        </div>
		<div class="row row-fluid">
		  <form class="form form-horizontal form-readonly">
		    	<div class="col-md-6">
					<div class="form-group">
						<label class="col-sm-4 control-label" for="controldesc">{{'LABEL_DESCRIPTION' | i18n }}:</label>
						<span id="controldesc" class="form-control-static col-md-8">{{controlDetails.control.description}}</span>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="controlstartday">{{'LABEL_CONTROL_START_DAY' | i18n }}:</label>
						<span id="controlstartday" class="form-control-static col-md-8">{{controlDetails.control.startDay}}</span>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="controlcurrency">{{'LABEL_CURRENCY' | i18n }}:</label>
						<span id="controlcurrency" class="form-control-static col-md-8">{{controlDetails.control.currency.code}} - {{controlDetails.control.currency.name}}</span>
					</div>	
					<div class="form-group">
						<label class="col-sm-4 control-label" for="controlshared">{{'LABEL_SHARED' | i18n }}:</label>
						<span id="controlshared" class="form-control-static col-md-8">{{'LABEL_' + controlDetails.control.shared | i18n}}</span>					
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="controltypesplit">{{'LABEL_CONTROL_TYPE_SPLIT' | i18n }}:</label>
						<span id="controltypesplit" class="form-control-static col-md-8">{{controlDetails.control.typeSplit | i18n}}</span>
					</div>
		    	</div>								
				<div class="col-md-6">					
					<div class="form-group">
						<label class="col-sm-4 control-label" for="controlsaving">{{'LABEL_SAVINGS' | i18n }}:</label>
						<span id="controlsaving" class="form-control-static col-md-8">{{'LABEL_' + controlDetails.control.hasSaving | i18n }}</span>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="controldefaultbalance">{{'LABEL_CONTROL_DEFAULT_BALANCE' | i18n }}:</label>
						<span id="controldefaultbalance" class="form-control-static col-md-8">{{controlDetails.control.balanceDefault}}</span>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="controlclosing">{{'LABEL_CLOSING' | i18n }}:</label>
						<span id="controlclosing" class="form-control-static col-md-8">{{'LABEL_' + controlDetails.control.hasClosing | i18n }}</span>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="controlautoclosing">{{'LABEL_CONTROL_AUTO_CLOSING' | i18n }}:</label>
						<span id="controlautoclosing" class="form-control-static col-md-8">{{controlDetails.control.automaticClosing | i18n}}</span>
					</div>
				</div> 	
			</form>				
		</div>
		<div>
			<a target="_self" href="/control/{{controlDetails.control.id}}" class="btn btn-primary pull-right" >{{'LABEL_CONTROL_EDIT' | i18n}}</a>
		</div>
		<div class="row row-fluid">
			<tabset>  
		        <tab ng-if="controlDetails.control.shared" heading="{{'LABEL_GROUPS' | i18n }}" active="groupActive">
		            <div class="container-fluid">
             			<br />
							<button ng-click="openModalGroup(controlDetails.control.id, null)" class="btn btn-primary">{{'LABEL_GROUP_ADD' | i18n }}</button>
             			<br />
             			<br />

			      		<table class="table table-bordered table-striped control-table">
							<thead>
								<tr>
									<th>{{'LABEL_NAME' | i18n }}</th>
									<th>{{'LABEL_GROUP_AMOUT_PARTICIPANT' | i18n }}</th>
									<th>{{'LABEL_CREATED_IN' | i18n }}</th>
									<th>{{'LABEL_UPDATED_IN' | i18n }}</th>
									<th></th>
								</tr>	
							</thead>
							<tbody>
								<tr ng-repeat="group in controlDetails.groups">
									<td>{{group.name}}</td>
									<td>{{group.amountParticipant}}</td>
									<td>{{group.createdDate | tcDateTime}}</td>
									<td>{{group.updatedDate | tcDateTime}}</td>
									<td>
										<a href="#" ng-click="openModalGroup(controlDetails.control.id, group.id)" ><i class="fa fa-pencil" ></i></a>
									</td>
								</tr>
							</tbody>
						</table>
		    		</div>
		        </tab>
       			<tab ng-if="!controlDetails.control.shared" heading="{{'LABEL_PARTICIPANTS' | i18n }}" >
             		<div class="container-fluid">
             			<br />
						<button ng-click="openModalParticipant(controlDetails.control.id, null)" class="btn btn-primary">{{'LABEL_GROUP_ADD_PARTICIPANT' | i18n }}</button>
             			<br />
             			<br />
			      		<table class="table table-bordered table-striped control-table">
							<thead>
								<tr>						
									<th>{{'LABEL_NAME' | i18n }}</th>
									<th>{{'LABEL_EMAIL' | i18n }}</th>
									<th>{{'LABEL_PROFILE' | i18n }}</th>
									<th></th>
								</tr>	
							</thead>
							<tbody>
								<tr ng-repeat="participant in controlDetails.participants">
									<td>{{participant.user.firstName}} {{participant.user.lastName}}</td>
									<td>{{participant.user.email}}</td>
									<td>{{'PROFILE_' + participant.profile.code | i18n }}</td>
									<td>
										<a href="#" ng-click="openModalParticipant(controlDetails.control.id, participant.id)" ><i class="fa fa-pencil" ></i></a>
										<a href="#" ng-click="" ><i class="fa fa-times" ></i></a>
									</td>
								</tr>					
							</tbody>
						</table>
				    </div>
				</tab>
       			<tab ng-if="true" heading="{{'LABEL_CATEGORIES' | i18n }}">
             		<div class="container-fluid">
             			<br />
						<button ng-click="openModalCategory(controlDetails.control.id, null)" class="btn btn-primary">{{'LABEL_CATEGORY_ADD' | i18n }}</button>
             			<br />
             			<br />
			      		<table class="table table-bordered table-striped control-table">
							<thead>
								<tr>
									<th>{{'LABEL_NAME' | i18n }}</th>
									<th>{{'LABEL_CATEGORY_PARENT' | i18n }}</th>
									<th ng-show="controlDetails.control.hasClosing">{{'LABEL_BUDGET' | i18n }}</th>
									<th>{{'LABEL_CREATED_IN' | i18n }}</th>
									<th></th>
								</tr>	
							</thead>
							<tbody>
								<tr ng-repeat="category in controlDetails.categories">
									<td>{{category.name}}</td>
									<td>{{category.parent.name}}</td>
									<td ng-show="controlDetails.control.hasClosing">{{participant.profile.name}}</td>
									<td>{{category.createdDate | tcDate}}</td>
									<td><a href="#" ng-click="openModalCategory(controlDetails.control.id, category.id)" ><i class="fa fa-pencil" ></i></a></td>
								</tr>
							</tbody>
						</table>             		
				    </div>
				</tab>
       			<tab ng-if="controlDetails.control.hasClosing" heading="{{'LABEL_CLOSINGS' | i18n }}">
             		<div class="container-fluid">
			      		<table class="table table-bordered table-striped control-table">
							<thead>
								<tr>
									<th ng-show="controlDetails.control.shared">{{'LABEL_GROUP' | i18n }}</th>
									<th>{{'LABEL_MONTH' | i18n }}</th>
									<th>{{'LABEL_YEAR' | i18n }}</th>
									<th ng-show="!controlDetails.control.shared">{{'LABEL_MONTHLY_REVENUE' | i18n }}</th>
									<th>{{'LABEL_MONTHLY_EXPENSE' | i18n }}</th>
									<th>{{'LABEL_START_DATE' | i18n }}</th>
									<th>{{'LABEL_END_DATE' | i18n }}</th>
									<th>{{'LABEL_CLOSED_IN' | i18n }}</th>
									<th></th>
								</tr>	
							</thead>
							<tbody>
								<tr ng-repeat="closing in controlDetails.closings">
									<td ng-show="controlDetails.control.shared">{{closing.group.name}}</td>
									<td>{{closing.month}}</td>
									<td>{{closing.year}}</td>
									<td ng-show="!controlDetails.control.shared">{{closing.balanceRevenue | currency:controlDetails.control.currency.symbol:2 }}</td>
									<td>{{closing.balanceExpense | currency:controlDetails.control.currency.symbol:2 }}</td>
									<td>{{participant.createdDate | tcDate}}</td>
									<td>{{participant.createdDate | tcDate}}</td>
									<td>{{participant.createdDate | tcDate}}</td>
									<td></td>
								</tr>
							</tbody>
						</table>             		
				    </div>
				</tab>
			</tabset>
		</div>
	</div>			
</div>


